
@font-face {
    font-family: 'MuseoSans';
    font-weight: normal;
    src: url('MuseoSans/23C553_1_0.eot');
    src: url('MuseoSans/23C553_1_0.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans/23C553_1_0.woff') format('woff'),
         url('MuseoSans/23C553_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSans';
    font-weight: bold;
    src: url('MuseoSans/23C553_0_0.eot');
    src: url('MuseoSans/23C553_0_0.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans/23C553_0_0.woff') format('woff'),
         url('MuseoSans/23C553_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSans';
    font-weight: 500;
    src: url('MuseoSans/23C553_3_0.eot');
    src: url('MuseoSans/23C553_3_0.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans/23C553_3_0.woff') format('woff'),
         url('MuseoSans/23C553_3_0.ttf') format('truetype');
}
 

@font-face {
    font-family: 'MuseoSans';
    font-weight: 100;
    src: url('MuseoSans/23C553_4_0.eot');
    src:
       url('MuseoSans/23C553_4_0.eot?#iefix') format('embedded-opentype'),
       url('MuseoSans/23C553_4_0.woff') format('woff'),
       url('MuseoSans/23C553_4_0.ttf') format('truetype');
}

body {
    font-family: MuseoSans, Helvetica, Arial, Sans-Serif;
    line-height: 1.5;
}

select, input, button, textarea { font-family: MuseoSans, Helvetica, Arial, Sans-Serif; }

h1, .h1 { font-size: 2.14em;font-weight: 100; }

h2, .h2 { font-weight: 100;}

h1 input, h1 select { font-weight: 100; }
